{% extends 'base.html' %}

{% block content %}
<br>
<div class="custom-div border rounded shadow p-4">
	<h6>{{ object.planting_program_name }} | {{ object.planting_division }}</h6>
	<p>Date: {{ object.day }}/{{ object.month }}/{{ object.year }}</p>
	<p>Total trees planted: {{ object.planting_total_trees_planted }} trees</p>
	<p>Species: {{ object.planting_species }}</p>
	<p>Total hectares: {{ object.planting_total_hectares }} ha</p>
	<p>Location: {{ object.planting_location }}</p>
</div>
{% endblock %}