{% extends 'base.html' %}

{% load static %}

{% block content %}
<br>
<h4 class="text-center">Figure Overview</h4>
<div class="row custom-div text-center">
	 {% for summary in fo_data_object %}
		<div class="col-sm border shadow rounded p-4 m-2">
			<p>Total trees planted</p>
			<h4>{{ summary.total_trees_planted }}</h4>
		</div>
		<div class="col-sm border shadow rounded p-4 m-2">
			<p>Total trees planted</p>
			<h4>{{ summary.total_species }}</h4>
		</div>
		<div class="col-sm border shadow rounded p-4 m-2">
			<p>Total trees planted</p>
			<h4>{{ summary.total_hectares }}</h4>
		</div>
	 {% endfor %}
</div>

<div class="custom-div">
	<hr>
</div>

<br>

<div class="row container">
	<br>
	<div class="col-sm-6 border rounded p-4">
		<h5 class="text-center">Total trees planted by Division</h5>
		<canvas id="barChart"></canvas>
	</div>
	<div class="col-sm-6 border rounded p-4">
		<h5 class="text-center">Percentage by Division (%)</h5>
		<canvas id="doughnutChart"></canvas>
	</div>
</div>

<br>

<div class="custom-div">
	<hr>
</div>

<br>

<div class="row custom-div">
	<div class="col-sm-6 mt-2">
    	<div class="card">
	      	<div class="card-body">
	        	<h5 class="card-title">Kuching</h5>
	        	<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
	        	<a href="{% url 'kuching_index' %}" class="btn btn-custom">View</a>
	      	</div>
    	</div>
  	</div>
  	<div class="col-sm-6 mt-2">
    	<div class="card">
	      	<div class="card-body">
	        	<h5 class="card-title">Sri Aman</h5>
	        	<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
	        	<a href="#" class="btn btn-custom">View</a>
	      	</div>
    	</div>
  	</div>
  	<div class="col-sm-6 mt-2">
    	<div class="card">
	      	<div class="card-body">
	        	<h5 class="card-title">Sarikei</h5>
	        	<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
	        	<a href="#" class="btn btn-custom">View</a>
	      	</div>
    	</div>
  	</div>
  	<div class="col-sm-6 mt-2">
    	<div class="card">
	      	<div class="card-body">
	        	<h5 class="card-title">Kapit</h5>
	        	<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
	        	<a href="#" class="btn btn-custom">View</a>
	      	</div>
    	</div>
  	</div>
  	<div class="col-sm-6 mt-2">
    	<div class="card">
	      	<div class="card-body">
	        	<h5 class="card-title">Sibu</h5>
	        	<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
	        	<a href="#" class="btn btn-custom">View</a>
	      	</div>
    	</div>
  	</div>
  	<div class="col-sm-6 mt-2">
    	<div class="card">
	      	<div class="card-body">
	        	<h5 class="card-title">Bintulu</h5>
	        	<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
	        	<a href="#" class="btn btn-custom">View</a>
	      	</div>
    	</div>
  	</div>
  	<div class="col-sm-6 mt-2">
    	<div class="card">
	      	<div class="card-body">
	        	<h5 class="card-title">Miri</h5>
	        	<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
	        	<a href="#" class="btn btn-custom">View</a>
	      	</div>
    	</div>
  	</div>
  	<div class="col-sm-6 mt-2">
    	<div class="card">
	      	<div class="card-body">
	        	<h5 class="card-title">Limbang</h5>
	        	<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
	        	<a href="#" class="btn btn-custom">View</a>
	      	</div>
    	</div>
  	</div>
  	<div class="col-sm-6 mt-2">
    	<div class="card">
	      	<div class="card-body">
	        	<h5 class="card-title">Lawas</h5>
	        	<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
	        	<a href="#" class="btn btn-custom">View</a>
	      	</div>
    	</div>
  	</div>
</div>

<br>
<br>

<script>
  const labels = [
    {% for lb in label %} '{{ lb }}', {% endfor %}
  ];

  const data = {
    labels: labels,
    datasets: [{
      label: 'Division by total trees planted',
      backgroundColor: [
      	'rgb(255, 188, 66)',
      	'rgb(216, 17, 89)',
      	'rgb(143, 45, 86)',
      	'rgb(33, 131, 128)',
      	'rgb(115, 210, 222)',
      	'rgb(255, 99, 132)',
      	'rgb(86, 52, 64)',
      	'rgb(222, 205, 245)',
      	'rgb(101, 97, 118)',
      ],
      borderColor: [
      	'rgb(255, 188, 66)',
      	'rgb(216, 17, 89)',
      	'rgb(143, 45, 86)',
      	'rgb(33, 131, 128)',
      	'rgb(115, 210, 222)',
      	'rgb(255, 99, 132)',
      	'rgb(86, 52, 64)',
      	'rgb(222, 205, 245)',
      	'rgb(101, 97, 118)',
      ],
      data: [{% for data in div_data %}'{{ data|safe }}', {% endfor %}],
    }]
  };

  const data_doughnut = {
    labels: labels,
    datasets: [{
      label: 'Division by total trees planted',
      backgroundColor: [
      	'rgb(255, 188, 66)',
      	'rgb(216, 17, 89)',
      	'rgb(143, 45, 86)',
      	'rgb(33, 131, 128)',
      	'rgb(115, 210, 222)',
      	'rgb(255, 99, 132)',
      	'rgb(86, 52, 64)',
      	'rgb(222, 205, 245)',
      	'rgb(101, 97, 118)',
      ],
      borderColor: [
      	'rgb(255, 188, 66)',
      	'rgb(216, 17, 89)',
      	'rgb(143, 45, 86)',
      	'rgb(33, 131, 128)',
      	'rgb(115, 210, 222)',
      	'rgb(255, 99, 132)',
      	'rgb(86, 52, 64)',
      	'rgb(222, 205, 245)',
      	'rgb(101, 97, 118)',
      ],
      data: [{% for data in div_percentage_data %}'{{ data|safe }}', {% endfor %}],
      hoverOffset: 4,
    }]
  };

  const config = {
    type: 'bar'	,
    data: data,
    options: {
    	scales: {
    		yAxes: [{
    			ticks: {
    				beginAtZero: true
    			}
    		}]
    	},
    	legend: {
    		display: false
    	}
    }
  };

	const config_doughnut = {
	  type: 'doughnut',
	  data: data_doughnut,
	  options: {
	    responsive: true,
	    plugins: {
	      legend: {
	        position: 'top',
	      },
	      title: {
	        display: false,
	        text: ''
	      }
	    }
	  },
	};
</script>


<script>
  const barChart = new Chart(
    document.getElementById('barChart'),
    config
  );

  const pieChart = new Chart(
    document.getElementById('doughnutChart'),
    config_doughnut
  );
</script>



{% endblock %}	