{% extends 'base.html' %}

{% block content %}
<br>
<div class="custom-div border rounded shadow p-4">
	<h6>{{ object.planting_program_name }} | {{ object.planting_division }}</h6>
	<p>Date: {{ object.day }}/{{ object.month }}/{{ object.year }}</p>
	<p>Total trees planted: {{ object.planting_total_trees_planted }} trees</p>
	<p>Species: {{ object.planting_species }}</p>
	<p>Total hectares: {{ object.planting_total_hectares }} ha</p>
	<p>Location: {{ object.planting_location }}</p>

	{% for group in request.user.groups.all %}
		{% if user.is_authenticated and group.name|lower == object.planting_division|lower %}
		<div class="row text-center mt-4">
			<div class="col-6">
				<a href="{% url 'planting_figure_update' object.pk %}">
					<button class="btn btn-custom">Edit</button>
				</a>
			</div>
			<div class="col-6">
				<a href="{% url 'planting_figure_delete' object.pk %}">
					<button class="btn btn-danger">Delete</button>
				</a>
			</div>
		</div>
		{% endif %}
	{% endfor %}
	
</div>
{% endblock %}