{% extends 'base.html' %}

{% block content %}
<br>
<div class="custom-div">
	{% for fd in sa_fd %}
	<div class="row border rounded shadow p-4">
		<div class="col-2">
			<img class="w-100" src="{{ fd.division_img.url }}">
		</div>
		<div class="col-10">
			<h6>{{ fd.division_name }}</hh6>
			<h4>{{ fd.division_total_trees }} <small class="text-muted">total trees planted</small></h4>
			<small class="text-muted">{{ fd.division_description }}</small>
		</div>
		{% if user.is_authenticated and user.is_staff %}
		<div class="col-sm-12 text-center mt-4">
			<a href="{% url 'sri_aman_division_update' fd.pk %}">
				<button class="btn btn-custom">Update figure</button>
			</a>
		</div>
		{% endif %}
	</div>
	{% endfor %}

	<br>

	<div class="custom-div mt-4 mb-4">
		<a href="{% url 'planting_figure_add' %}">
			<button class="btn btn-custom w-100">Add planting figure</button>
		</a>
	</div>

	<br>

	<p class="text-center">Select year</p>
	<div class="list-group text-center m-2">
		<a class="list-group-item list-group-item-action flex-column align-items-start" href="{% url 'sri_aman_2025' %}">
			<h6 class="link-color">2025</h6>
		</a>
	</div>
	<div class="list-group text-center m-2">
		<a class="list-group-item list-group-item-action flex-column align-items-start" href="{% url 'sri_aman_2024' %}">
			<h6 class="link-color">2024</h6>
		</a>
	</div>
	<div class="list-group text-center m-2">
		<a class="list-group-item list-group-item-action flex-column align-items-start" href="{% url 'sri_aman_2023' %}">
			<h6 class="link-color">2023</h6>
		</a>
	</div>
	<div class="list-group text-center m-2">
		<a class="list-group-item list-group-item-action flex-column align-items-start" href="{% url 'sri_aman_2022' %}">
			<h6 class="link-color">2022</h6>
		</a>
	</div>
	<div class="list-group text-center m-2">
		<a class="list-group-item list-group-item-action flex-column align-items-start" href="{% url 'sri_aman_2021' %}">
			<h6 class="link-color">2021</h6>
		</a>
	</div>
</div>

{% endblock %}