{% extends 'base.html' %}

{% block content %}
<br>
<div class="custom-div">
	<p class="text-center">Select year</p>
	<div class="list-group text-center m-2">
		<a class="list-group-item list-group-item-action flex-column align-items-start" href="{% url 'sri_aman_2025' %}">
			<h6 class="link-color">2025</h6>
		</a>
	</div>
	<div class="list-group text-center m-2">
		<a class="list-group-item list-group-item-action flex-column align-items-start" href="{% url 'sri_aman_2024' %}">
			<h6 class="link-color">2024</h6>
		</a>
	</div>
	<div class="list-group text-center m-2">
		<a class="list-group-item list-group-item-action flex-column align-items-start" href="{% url 'sri_aman_2023' %}">
			<h6 class="link-color">2023</h6>
		</a>
	</div>
	<div class="list-group text-center m-2">
		<a class="list-group-item list-group-item-action flex-column align-items-start" href="{% url 'sri_aman_2022' %}">
			<h6 class="link-color">2022</h6>
		</a>
	</div>
	<div class="list-group text-center m-2">
		<a class="list-group-item list-group-item-action flex-column align-items-start" href="{% url 'sri_aman_2021' %}">
			<h6 class="link-color">2021</h6>
		</a>
	</div>
</div>

{% endblock %}