{% extends 'base.html' %}

{% block content %}
<br>
<div class="custom-div border rounded shadow p-4">
	{% for i in sa_fd_object %}
	<div class="row">
		<div class="col-2">
			<img class="w-100" src="{{ i.division_img.url }}">
		</div>
		<div class="col-10">
			<p>{{ i.division_name }}</p>
			<h4>{{ sa_2025_cumulative }} trees planted</h4>
		</div>
	</div>
	{% endfor %}
</div>

<br>

<div class="custom-div">
	<h5 class="text-center">2025</h5>
	<canvas id="barChart"></canvas>
</div>

<br>

<div class="custom-div">
	{% for j in sa_2025 %}
	<div class="list-group m-2">
		<a class="list-group-item list-group-item-action flex-column align-items-start" href="{% url 'planting_figure_detail' j.pk %}">
			<h6 class="link-color">{{ j.planting_program_name }} | <small class="text-muted">{{ j.day }}/{{ j.month }}/{{ j.year }}</small></h6>
			<div class="row">
				<div class="col-4">
					<p>Hectares:</p>
					<small class="text-muted">{{ j.planting_total_hectares }} ha</small>
				</div>
				<div class="col-4">
					<p>No. of species:</p>
					<small class="text-muted">{{ j.planting_number_of_species }}</small>
				</div>
				<div class="col-4">
					<p>Location:</p>
					<small>{{ j.planting_location }}</small>
				</div>
			</div>
		</a>
	</div>
	{% endfor %}
</div>

<script>
  const labels = [
    {% for lb in sa_2025_label %} '{{ lb }}', {% endfor %}
  ];

  const data = {
    labels: labels,
    datasets: [{
      label: 'Division by total trees planted',
      backgroundColor: [
      	'rgb(30, 109, 82)',
        'rgb(30, 109, 82)',
        'rgb(30, 109, 82)',
        'rgb(30, 109, 82)',
        'rgb(30, 109, 82)',
        'rgb(30, 109, 82)',
        'rgb(30, 109, 82)',
        'rgb(30, 109, 82)',
        'rgb(30, 109, 82)',
        'rgb(30, 109, 82)',
        'rgb(30, 109, 82)',
        'rgb(30, 109, 82)',
      ],
      borderColor: [
      	
      ],
      data: [{% for data in sa_2025_data %}'{{ data|safe }}', {% endfor %}],
    }]
  };

  const config = {
    type: 'bar'	,
    data: data,
    options: {
    	scales: {
    		yAxes: [{
    			ticks: {
    				beginAtZero: true
    			}
    		}]
    	},
    	legend: {
    		display: false
    	}
    }
  };

</script>


<script>
  const barChart = new Chart(
    document.getElementById('barChart'),
    config
  );
</script>

{% endblock %}